<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="CustomSourceRune" value="https://nuget.pkg.github.com/runenilsenoe/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSourceCredentials>
		<CustomSourceRune>
			<add key="Username" value="%GITHUB_PACKAGE_USER_NAME%" />
			<add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
		</CustomSourceRune>
	</packageSourceCredentials>
</configuration>
